Repository LLNL/hatchet, pull requests merged in 2022-04, with the labels that each got.

#30 add default_metric and metadata to filter and squash
  hatchet/graphframe.py
  hatchet/tests/graphframe.py
Labels: area-graphframe, priority-normal, status-ready-for-review, type-bug

#32 fix CI errors
  .github/workflows/unit-tests.yaml
  hatchet/tests/caliper.py
  hatchet/tests/callgrind.py
  hatchet/tests/cprofile.py
  hatchet/tests/hpctoolkit.py
  hatchet/tests/pyinstrument.py
  hatchet/tests/tau.py
  hatchet/tests/timemory_test.py
Labels: area-ci, priority-normal, status-work-in-progress

#15 Add recursion limit parameter to graphframe filter
  hatchet/graphframe.py
Labels: area-graphframe, priority-normal, status-ready-for-review, type-bug

#18 Preserve existing inc_metrics in update_inclusive_columns
  hatchet/graphframe.py
  hatchet/tests/conftest.py
  hatchet/tests/graphframe.py
Labels: area-graphframe, priority-normal, status-ready-for-review, type-bug

#34 set self.colors to a copy of the colormap list
  hatchet/util/colormaps.py
Labels: priority-normal, status-ready-for-review, type-bug, area-visualization

#19 Calculates exclusive metrics from corresponding inclusive metrics
  hatchet/graphframe.py
  hatchet/tests/graphframe.py
Labels: area-graphframe, priority-normal, status-approved, type-feature

#26 Enable the construction of compound queries from a single mid-level query
  hatchet/graphframe.py
  hatchet/query.py
  hatchet/tests/query.py
Labels: area-query-lang, priority-normal, status-approved, type-feature

#25 Modifications to the Interactive CCT Visualization
  README.md
  docs/examples/tutorial/roundtrip-demo.ipynb
  hatchet/external/__init__.py
  hatchet/external/roundtrip/requirements.txt
  hatchet/external/roundtrip/roundtrip.py
  hatchet/external/roundtrip/roundtrip/manager.py
  hatchet/external/roundtrip/roundtrip/roundtrip.js
  hatchet/external/roundtrip/roundtrip/tests/data/test.html
  hatchet/external/roundtrip/roundtrip/tests/data/test.js
  hatchet/external/roundtrip/roundtrip/tests/rt_test.py
  hatchet/external/roundtrip/setup.py
  hatchet/graphframe.py
  hatchet/vis/loader.py
  hatchet/vis/notebooks/boxplot.ipynb
  hatchet/vis/notebooks/cct.ipynb
  hatchet/vis/package.json
  hatchet/vis/scripts/cct.js
  hatchet/vis/scripts/cct/cct_chart_view.js
  hatchet/vis/scripts/cct/cct_color_manager.js
  hatchet/vis/scripts/cct/cct_controller.js
  hatchet/vis/scripts/cct/cct_globals.js
  hatchet/vis/scripts/cct/cct_menu_view.js
  hatchet/vis/scripts/cct/cct_model.js
  hatchet/vis/scripts/cct/cct_repr.js
  hatchet/vis/scripts/cct/cct_scented_slider_popup.js
  hatchet/vis/scripts/cct/cct_stats.js
  hatchet/vis/scripts/cct/cct_tooltip_view.js
  hatchet/vis/scripts/utils/color.js
  hatchet/vis/scripts/utils/d3.js
  hatchet/vis/scripts/utils/view.js
  hatchet/vis/static/boxplot_bundle.html
  hatchet/vis/static/boxplot_bundle.js
  hatchet/vis/static/cct_bundle.html
  hatchet/vis/static/cct_bundle.js
  hatchet/vis/static_fixer.py
  hatchet/vis/webpack.config.js
  install.sh
Labels: priority-normal, status-approved, area-visualization

#33 Using top license across the project
  .github/workflows/unit-tests.yaml
  docs/analysis_examples.rst
  docs/basic_tutorial.rst
  docs/data_generation.rst
  docs/developer_guide.rst
  docs/publications.rst
  docs/source/hatchet.cython_modules.libs.rst
  docs/source/hatchet.cython_modules.rst
  docs/source/hatchet.external.rst
  docs/source/hatchet.readers.rst
  docs/source/hatchet.rst
  docs/source/hatchet.util.rst
  hatchet/readers/caliper_native_reader.py
  hatchet/readers/pyinstrument_reader.py
  hatchet/readers/spotdb_reader.py
  hatchet/readers/tau_reader.py
  hatchet/readers/timemory_reader.py
  hatchet/tests/pyinstrument.py
  hatchet/tests/spotdb_test.py
  hatchet/tests/tau.py
  hatchet/tests/timemory_func.py
  hatchet/tests/timemory_test.py
  hatchet/util/colormaps.py
  hatchet/vis/external/__init__.py
  hatchet/vis/loader.py
  hatchet/vis/static_fixer.py
  license.py
Labels: priority-normal, status-approved, type-release

#35 update CHANGELOG for 2022.1.0 release
  CHANGELOG.md
  docs/conf.py
  install.sh
  pyproject.toml
Labels: priority-normal, status-approved, type-release

#36 update CHANGELOG for 2022.1.0 release
  CHANGELOG.md
Labels: priority-normal, status-approved, type-release
