Repository LLNL/hatchet, pull requests merged in 2023-08, with the labels that each got.

#102 docs: Update developer_guide.rst
  docs/developer_guide.rst
Labels: documentation, area-docs, status-approved

#98 caliperreader: handle other metadata types
  hatchet/readers/caliper_native_reader.py
Labels: area-readers, status-approved, type-bug

#97 Adds support for tree annotations with coloring and min, max attributes
  hatchet/external/console.py
  hatchet/graphframe.py
  hatchet/tests/caliper.py
  hatchet/tests/cprofile.py
  hatchet/tests/graphframe.py
  hatchet/tests/hpctoolkit.py
  hatchet/tests/pyinstrument.py
  hatchet/tests/tau.py
  hatchet/tests/timemory_test.py
Labels: priority-normal, status-ready-for-review, type-feature, area-visualization

#99 Support for NaNs and optionally specify inclusive columns
  hatchet/graphframe.py
Labels: area-graphframe, priority-normal, status-approved, status-blocked, type-bug
