Repository LLNL/hatchet, pull requests merged in 2024-05, with the labels that each got.

#130 Fixes common formatting issues messing with CI
  hatchet/tests/graphframe.py
  hatchet/tests/query_compat.py
Labels: area-ci, priority-normal, status-ready-to-merge, type-internal-cleanup, type-style

#127 Fix Bug When Importing Roundtrip
  hatchet/external/__init__.py
  hatchet/external/roundtrip/roundtrip/manager.py
Labels: area-external, priority-normal, status-ready-to-merge, type-bug

#131 Upgrades the version of black used in CI
  .github/workflows/unit-tests.yaml
  hatchet/query/compound.py
  hatchet/query/engine.py
  hatchet/query/string_dialect.py
  hatchet/readers/caliper_native_reader.py
  hatchet/readers/caliper_reader.py
  hatchet/readers/gprof_dot_reader.py
  hatchet/readers/timemory_reader.py
  hatchet/vis/static_fixer.py
  hatchet/writers/dataframe_writer.py
  pyproject.toml
  requirements.txt
Labels: area-ci, priority-normal, status-work-in-progress, type-internal-cleanup, type-style
