Repository LLNL/hatchet, pull requests merged in 2024-04, with the labels that each got.

#120 Support Printing Tree for MultiIndex Columns
  hatchet/external/console.py
Labels: area-graphframe, priority-normal, status-ready-for-review, type-bug, type-feature, area-visualization

#118 Change "nid" Casted Value in caliper_native_reader to np.int64
  hatchet/readers/caliper_native_reader.py
  hatchet/tests/caliper.py
Labels: area-readers, priority-normal, status-ready-for-review, type-bug

#124 Adds support for multi-indexed column names
  hatchet/query/compat.py
  hatchet/query/object_dialect.py
  hatchet/query/string_dialect.py
  hatchet/tests/query.py
  pyproject.toml
Labels: area-query-lang, priority-normal, status-ready-for-review, type-feature
